.dialog-container {
  padding: 20px;
  background-color: #e3f2fd; /* Azul claro */
  border-radius: 10px;
  min-width: 300px;
}

.titulo {
  color: #0d47a1; /* Azul intenso */
  margin-bottom: 10px;
}

.contenido p {
  font-size: 16px;
  color: #37474f; /* Gris oscuro */
}

.acciones {
  margin-top: 20px;
}

.btn-cancelar {
  color: #1976d2;
  font-weight: bold;
}

.btn-eliminar {
  font-weight: bold;
  color: white;
  background-color: #e53935;
}
