<div class="usuario-container">

  <div class="titulo-usuario">
    <img src="assets/usuario.png" alt="Icono usuario" class="icono-usuario" />
    <h2>Listado de Usuarios</h2>
  </div>

  <input
    type="text"
    [(ngModel)]="filtro"
    (input)="aplicarFiltro()"
    placeholder="Buscar por nombre o correo"
    class="barra-busqueda"
  />

  <div class="tarjetas-usuarios">
    <mat-card *ngFor="let usuario of usuariosFiltrados" class="tarjeta-usuario">
      <mat-card-title>{{ usuario.nombre }}</mat-card-title>
      <mat-card-content>
        <p><strong>Correo:</strong> {{ usuario.correo }}</p>
        <p><strong>Rol:</strong> {{ usuario.rol }}</p>
        <p><strong>Fecha de registro:</strong> {{ usuario.fechaRegistro | date:'dd/MM/yyyy' }}</p>
      </mat-card-content>
      <div class="acciones">
        <button mat-button color="primary" (click)="actualizar(usuario.id_usuario)">
          <mat-icon>edit</mat-icon> Actualizar
        </button>
        <button mat-button color="warn" (click)="eliminar(usuario.id_usuario)">
          <mat-icon>delete</mat-icon> Eliminar
        </button>
      </div>
    </mat-card>
  </div>
</div>
