.usuario-container {
  padding: 30px;
  background-color: #f1f9ff;
  min-height: 100vh;
}

.usuario-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.barra-busqueda {
  display: block;
  margin: 0 auto 30px auto;
  padding: 10px;
  width: 50%;
  font-size: 16px;
  border: 2px solid #a0d3ef;
  border-radius: 6px;
}

.tarjetas-usuarios {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tarjeta-usuario {
  width: 300px;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  background-color: #fff;
}

.tarjeta-usuario mat-card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.tarjeta-usuario mat-card-content p {
  margin: 4px 0;
}

.acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
