<mat-accordion>
  <mat-expansion-panel *ngFor="let wishlist of lista">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Wishlist #{{wishlist.id_wishlist}} - {{wishlist.usuariodto.nombre}} ({{wishlist.fechaAgregado | date:'shortDate'}})
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div *ngFor="let p of wishlist.productosdto" style="margin-bottom: 10px;">
      <p><strong>Producto:</strong> {{p.nombreProducto}} - S/. {{p.precio}}</p>
      <img [src]="p.imagen" alt="{{p.nombreProducto}}" width="100" style="border-radius: 8px;">
      <button mat-button color="warn" (click)="eliminarProducto(wishlist.id_wishlist, p.id_producto)">Eliminar producto</button>
    </div>

    <button mat-button color="accent" [routerLink]="['/wishlist', wishlist.id_wishlist, 'agregarproducto']">Agregar producto</button>
    <button mat-button color="warn" (click)="eliminarWishlist(wishlist.id_wishlist)">Eliminar wishlist</button>
  </mat-expansion-panel>
</mat-accordion>
