<div class="barra-superior">
  <div class="lado-izquierdo">
    <input type="text" placeholder="🔍 Buscar catálogo..." (input)="aplicarFiltro($event)" />
    <button mat-raised-button color="primary" (click)="alternarFavoritos()">
      {{ mostrarFavoritos ? '✔️ Ver Todos' : '⭐ Ver Favoritos' }}
    </button>
  </div>

  <div class="lado-derecho">
    <span class="contador-activas">
      🧮 Promociones activas: <strong>{{ contadorActivas }}</strong>
    </span>
  </div>
</div>


<div class="container-listado">
  <div *ngFor="let item of dataSource.filteredData" class="card-promocion" [ngClass]="obtenerEstadoPromocion(item.fechaInicio, item.fechaFin)"
  >
    <h3>
      📌 {{ item.nombreCatalogo }}

      <span class="estado-promocion">
    {{ obtenerEstadoPromocion(item.fechaInicio, item.fechaFin) }}
  </span>

      <p class="estado-promocion" *ngIf="diasRestantes(item.fechaFin) > 0">
        ⏳ Faltan {{ diasRestantes(item.fechaFin) }} días para finalizar
      </p>

      <button mat-icon-button (click)="toggleFavorito(item.id_catalogopromociones)">
        {{ esFavorito(item.id_catalogopromociones) ? '⭐' : '☆' }}
      </button>
    </h3>


    <p>📄 <strong>Descripción:</strong> {{ item.descripcion }}</p>
    <p>🏢 <strong>Microempresa:</strong> {{ item.microempresa?.nombreNegocio || 'N/A' }}</p>
    <p>📅 <strong>Fecha de Inicio:</strong> {{ item.fechaInicio | date: 'yyyy-MM-dd' }}</p>
    <p>📅 <strong>Fecha de Fin:</strong> {{ item.fechaFin | date: 'yyyy-MM-dd' }}</p>


    <div class="acciones-botones">
      <button mat-raised-button color="primary" (click)="editar(item.id_catalogopromociones)">✏️ Editar</button>
      <button mat-raised-button color="warn" (click)="eliminar(item.id_catalogopromociones)">🗑️ Eliminar</button>
    </div>
  </div>
</div>
