<div class="container-listado">

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Buscar descuento</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="Ej. Promos de Temporada">
  </mat-form-field>

  <div *ngFor="let item of dataSource.filteredData" class="card-promocion">
    <h3>📌 {{ item.nombreCatalogo }}</h3>
    <p>📄 <strong>Descripción:</strong> {{ item.descripcion }}</p>
    <p><strong>🏢 Microempresa:</strong> {{ item.microempresa.nombreNegocio || 'Sin nombre' }}</p>
    <p>📅 <strong>Fecha de Inicio:</strong> {{ item.fechaInicio | date:'yyyy-MM-dd' }}</p>
    <p>📅 <strong>Fecha de Fin:</strong> {{ item.fechaFin | date:'yyyy-MM-dd' }}</p>

    <div class="acciones-botones">
      <button mat-raised-button color="primary" (click)="editar(item.id_catalogopromociones)">
        ✏️ Editar
      </button>

      <button mat-raised-button color="warn" (click)="eliminar(item.id_catalogopromociones)">
        🗑️ Eliminar
      </button>
    </div>
  </div>
</div>
