<div class="productos-container">
  <mat-card class="producto-card" *ngFor="let producto of lista">
    <mat-card-header>
      <mat-card-title>{{ producto.nombreProducto }}</mat-card-title>
      <mat-card-subtitle>{{ producto.categoriadto?.nombreCategoria }}</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image *ngIf="producto.imagen" [src]="producto.imagen" alt="Imagen del producto" />

    <mat-card-content>
      <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>
      <p><strong>Precio:</strong> S/ {{ producto.precio }}</p>
      <p><strong>Stock:</strong> {{ producto.stock }}</p>
      <p><strong>Microempresa:</strong> {{ producto.microempresadto?.nombreNegocio }}</p>
    </mat-card-content>
  </mat-card>
</div>
