<h2 class="titulo-principal">📢 Notificaciones</h2>

<div class="container">
  <ng-container *ngFor="let noti of notificaciones">
    <div *ngIf="!noti.oculto" class="card card-noti">
      <h3>📌 {{ noti.mensaje }}</h3>
      <p><span class="etiqueta">📂 Tipo:</span> {{ noti.tipo }}</p>
      <p><span class="etiqueta">📅 Fecha:</span> {{ noti.fechaEnvio }}</p>
      <p>
        <span class="etiqueta">🧑 Usuario:</span>
        {{ noti.usuariodto?.nombre || 'Desconocido' }} (ID: {{ noti.usuariodto?.id_usuario || 'Sin ID' }})
      </p>
      <button (click)="eliminar(noti.id_notificacion)" class="btn-eliminar">🗑️ Eliminar</button>
      <button (click)="irAEditar(noti.id_notificacion)" class="btn-actualizar">✏️ Actualizar</button>


    </div>
  </ng-container>
</div>
